DEBUG=TRUE

CONFIG_YAML_PATH=config.yaml
CONFIG_ENV_PATH=.env

# DB
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=notifications
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#LOG
LOG_DIR=./logs
LOG_FILE_SYSTEM=system.log
LOG_FILE_USER=user.log