DEBUG=TRUE

CONFIG_YAML_PATH=config.yaml
CONFIG_ENV_PATH=.env

# DB
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=notifications
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
RUN_MIGRATIONS=False

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASSWORD=
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASSWORD}@rabbitmq:${RABBITMQ_PORT}

# Celery
CELERY_BROKER_URL=${RABBITMQ_URL}
CELERY_RESULT_BACKEND=rpc://
CELERY_CONCURRENCY=4

# Flask
FLASK_PORT=5000
GUNICORN_WORKERS=4
GUNICORN_BIND=0.0.0.0:${FLASK_PORT}

#LOG
LOG_DIR=./logs
LOG_FILE_SYSTEM=system.log
LOG_FILE_USER=user.log